#register {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

body {
    background-image: url("https://wallpaperscraft.com/image/pool_water_sun_loungers_palm_trees_evening_house_47796_1920x1080.jpg")
}

