body {
    background-image: url("https://wallpaperscraft.com/image/bridge_lights_evening_skyscrapers_river_58408_1920x1080.jpg")
}

h1 {
    font-family: Verdana;
    color: SpringGreen;
}

p {
    font-family: Verdana;
    color: SpringGreen;
}